main div.col-lg-4 h4 {
    text-align: center;
}

main button.btn-lg {
    width: 50%;
}

main #brand {
    width: 80%;
}

main a.car {
    text-decoration: none;
}

main img.car-photo {
    width: 100%;
    max-height: 350px;
    border-radius: 5px 5px 0 0;
}

main input.date-range {
    background-color: #f9f9f9;
    text-align: center;
    border: 0;
    width: 120px;
}

.btn-outline-dark {
    border-color: #343a40;
    color: #343a40;
}


.btn-outline-dark:hover {
    background-color: #6c757d !important;
    color: white;
}

.car-photo{
    height: 150px;
}

.col-6{
    display: flex;
    align-items: center; /*по центру по вертикали*/
    justify-content: center;
}